@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #07004d;
}

h1 {
  font-family: "Bungee Shade", cursive;
}

p,
h2,
h3,
li,
nav {
  font-family: "DM Sans", sans-serif;
}

/*************************************************************************
*                          Random Avatar CSS
**************************************************************************/

.random-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.random-avatar button {
  margin-top: 1rem;
}

/*************************************************************************
*                          Footer CSS
**************************************************************************/

.footer {
  background-color: #9a373f;
  border-top: 2px solid #9a373f;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer {
  color: white;
  font-size: 15px;
}

.footer ul {
  margin: 15px;
}

.formlegales {
  display: flex;
  justify-content: space-around;
}
.mentions_legales {
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: left;
}

.mentions_legales h1 {
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
}

.mentions_legales h2 {
  margin-top: 2rem;
}

.mentions_legales p {
  padding: 1rem;
}

/*************************************************************************
*                          NbrPlayerButton
**************************************************************************/

.minus_button,
.plus_button {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: rgb(128, 128, 128);
  background-color: rgb(4, 57, 94);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 50%;
}

.button_players {
  justify-content: center;
  align-items: baseline;
}

option:focus {
  text-align: center;
}

/*************************************************************************
*                          Home CSS
**************************************************************************/

.acroche h1 {
  text-align: center;
  color: white;
  margin: 2rem;
  font-size: 2rem;
}

.acroche h2 {
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 40%;
}
